
{
    "groovAddress" : "opto-00-11-22.opto22.com",
    "groovApiKey": "6EvpCmHsmHqMDshasdferarg4df",
    "groovCaCertPath": "/path/to/a/certificate.pem",
    "groovPublicCertPath": "/optional/path/to/CA/certificate"
}
