node_modules/
build/
package/
coverage/
*.tgz
/.project
/log.txt
src/log.txt
*.swp
red-out.txt
CHANGELOG.html
README.html
DEVELOPERS.html
test/settings.json
.tscache
src/.baseDir.ts
xunit-results.xml
groovBox.pem